.titles{
    background-color: #75ADA6;
    opacity: 0.7;
    height:6vh;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66vw;
    margin-left: 3em;
    margin-top: 1em;
}

.titles-text{
    color:#004715;
    font-size: 1.1em;
}

@media only screen and (max-width: 768px){
    .titles{
        height: 5vh;
        width: 95vw;
        
        margin-top: 2vh;
    }

    .titles-text{
        font-size: 1.4vh;
        font-weight: bold;
    }
}

@media only screen and (max-width: 600px){
    .titles{
        height: 5vh;
        width: 95vw;
        margin-left: 1em;
        margin-top: 2vh;
    }

    .titles-text{
        font-size: 1.2vh;
        font-weight: bold;
        margin-left: 1px;
    }
}