.buyJokerModal-container{
    box-sizing: border-box;
    overflow: hidden;
}

.buyJokerModal-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh; 
    width: 100%;
    background-image: url("../../images/arkaplan.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 1.6em;
}

.buyJokerModal-content{
    background-color: #75ADA6;
    height: 53.80vh;
    overflow: hidden;
}

.buyJokerModel-content-jokers{
    display: flex;
    justify-content: space-evenly;
    
}

.buyJokerModel-content-joker{
    box-sizing: border-box;
    width: 8vw;
    height: 30vh;
    background-color: #075c55;
    margin-top: 5vh;
    border-radius: 1vh;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.joker1{
    margin-left: 2vw;
}

.joker2{
    margin-right: 2vw;
}


.buyJokerModel-content-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vh;

}

.buyJokerModal-jokericon{
    margin-top: 1vh; 
    /* margin-left: 1vw */
}

.buyJokerModal-joker-toptext-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.buyJokerModal-joker-bottomtext-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 1.2vh;
}

.buyJokerModal-btn{
    width: 7.9vw;
    height: 4.5vh;
    border-radius: 1vh;
    border: 2px solid white;
    color:#075c55;
    font-size: 1.4em;
}

.buyJokerModal-btn1{
    margin-left: 2vw;
}

.buyJokerModal-btn2{
    margin-right: 2vw;
}

@media only screen and (max-width: 768px){
    .buyJokerModal-top{
        height: 8vh;
        font-size: 5em;
    }
    .buyJokerModel-content-joker{
        width: 11vw;
    }

    .buyJokerModal-joker-toptext-container{
            margin-top: 2vh;
            font-size: 3em;
    }

    .buyJokerModal-joker-bottomtext-container{
        font-size: 2.5em;
        margin-top: 3vh;
    }

    .buyJokerModal-jokericon{
        margin-left: 1.5vw;
    }

    .buyJokerModal-btn{
        width: 11vw;
        font-size: 2.7em;
    }

    .buyJokerModal-content{
        height: 59.8vh;
    }
}

@media only screen and (max-width: 600px){
    .buyJokerModal-top{
        font-size: 4em;
    }

    .buyJokerModal-joker-toptext-container{
           font-size: 2.3em;
    }

    .buyJokerModal-joker-bottomtext-container{
       font-size: 2em;
    }

    .buyJokerModal-btn{
       height: 6vh;
       font-size: 2.3em;
    }

}